

.pricing-table {
  border: solid 1px #161742; }
  .pricing-table li {
    border-bottom: dotted 1px #DDDDDD;
    font-size: 20px;
    padding: 0.875rem 1.125rem; }
    .pricing-table li:last-child {
      border-bottom: 0; }
  .pricing-table .title {
    background-color: #333333;
    color: #EEEEEE;
    font-size: 35px;
    border-bottom: 0; }
  .pricing-table .price {
    background-color: #F6F6F6;
    color: #333333;
    font-size: 30px;
    border-bottom: 0; }
  .pricing-table .description {
    color: #777777;
    font-size: 20px; }
  .pricing-table .button {
    margin: 0;
   }
   .pricing-table a.button {
     font-family: 'Bree Serif', serif;
    }
    
    #generic_price_table{
      margin: 10px;

    }
